* {
    margin: 0;
    padding: 0;
}

/* for dark mode */
.screen {
    color: black;
    border-radius: 15px;
    justify-content: center;
    font-size: larger;
    align-items: center;
    display: flex;
    width: 20rem;
    margin: auto;
    background-color: #D6D58E;
    padding: 10px;
    height: 10vh;
}

.container {
    height: 100vh;
    background-color: #042940;
    padding-top: 10rem;
    text-align: center;
}

.my-container {

    align-items: center;
    justify-content: center;
    display: flex;
}

.btn-primary {
    border-radius: 20px;
    background-color: #005C53;
    border: none;
    color: #9FC131;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px 4px;
    cursor: pointer;
}

.btn-secondary {
    border-radius: 20px;
    background-color: #005C53;
    border: none;
    color: #DBF227;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-size: 17px;
    margin: 7px 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #F7F7F7;
    color: black;
}

.btn-secondary:hover {
    background-color: #F7F7F7;
    color: black;
}
.equal{
    border-radius: 50px;
    background-color: #D6D58E;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 7px 4px;
    cursor: pointer;
}
.dark{
    border-radius: 15px;
    background:rgb(214, 213, 142, 0.9);
    border: none;
    color: black;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 7px 4px;
    cursor: pointer;
    font-size: 2.5rem;

}

/* light mode */
.screen-lg {
    color: #252617;
    border-radius: 15px;
    justify-content: center;
    font-size: larger;
    align-items: center;
    display: flex;
    width: 20rem;
    margin: auto;
    background:rgba(202, 217, 89, 0.5);
    backdrop-filter: blur(10px);
    padding: 10px;
    height: 10vh;
}

.container-lg {
    height: 100vh;
    background-color: #F2F2F0;
    padding-top: 10rem;
    text-align: center;
}

p-lg {
    color: whitesmoke;
}

.btn-primary-lg {
    border-radius: 20px;
    background-color: #B4BF5E;
    border: none;
    color: #34401A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px 4px;
    cursor: pointer;
}

.btn-secondary-lg {
    font-weight: 510;
    border-radius: 20px;
    background-color:#B4BF5E;
    border: none;
    color: #252617;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px 4px;
    cursor: pointer;
}
.equal-lg{
    border-radius: 50px;
    background-color: #D6D58E;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 7px 4px;
    cursor: pointer;
}
.light{
    border-radius: 15px;
    background-color: #B4BF5E;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 7px 4px;
    cursor: pointer;
    font-size: 2.5rem;
}